            .appear-enter-active {
                animation: appear 0.7s;
            }
            
            .appear-leave-active {
                animation: appear 0.7s;
            }
            
            @keyframes appear {
                0% {
                    opacity: 0.0
                }
                10% {
                    opacity: 0.1
                }
                20% {
                    opacity: 0.2
                }
                30% {
                    opacity: 0.3
                }
                40% {
                    opacity: 0.4
                }
                50% {
                    opacity: 0.5
                }
                60% {
                    opacity: 0.6
                }
                70% {
                    opacity: 0.7
                }
                80% {
                    opacity: 0.8
                }
                90% {
                    opacity: 0.9
                }
                100% {
                    opacity: 1.0
                }
            }
            
            .bounce-enter-active {
                animation: bounce 1s;
            }
            
            .bounce-leave-active {
                animation: bounce 1s reverse;
            }
            
            @keyframes bounce {
                0% {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: scale(0)
                }
                50% {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: scale(1.5)
                }
                100% {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: scale(1)
                }
            }